{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "linebreak-style": 0,
        "require-jsdoc": 0,
        "no-trailing-spaces": 0,
        "max-len": "off",
        "indent": "off",
        "no-case-declarations": "off",
        "no-invalid-this": "off",
    },
    "extends": ["eslint:recommended", "google"]
}