{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "linebreak-style": 0,
        "require-jsdoc": 0,
        "no-trailing-spaces": 0
    },
    "extends": ["eslint:recommended", "google"]
}