@import 'mixins';
@import 'variables';

.excel__table {
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height +$formula-height + 15px;
    overflow-x: auto;

    &-row {
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row-height;

        &-column {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fa;
            min-width: 40px;
            width: $cell-width;
            border: 1px solid $border-color;
            height: 100%;
            border-top: none;
            border-left: none;

        }
    }
    &-row-info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $border-color;
        background: #f8f9fa;
        border-top: none;
    }
    &-row-data {
        display: flex;
    }


    .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        padding: 5px;
        width: $cell-width;
        height: 100%;
        border: 1px solid #e2e3e3;
        border-top: none;
        border-left: none;
        text-align: center;
        color: #111;
        white-space: nowrap;
        outline: none;

        &.selected {
            border: none;
            outline: 2px solid #3c4fff;
            z-index: 2;
            font-size: .8rem;
        }
    }

    .col-resize, .row-resize {
        position: absolute;
        position: absolute;
        opacity: 0;
        right: 0;
        bottom: 0;
        background-color: #3c74ff;
        z-index: 0;

        &:hover {
            opacity: 1!important;
        }
    }

    .col-resize {
        top: 0;
        width: 3px;
        
        &:hover {
            cursor: col-resize;
        }
    }

    .row-resize {
        left: 0;
        height: 3px;
        
        &:hover {
            cursor: row-resize;
        }
    }
}